<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>EFSH App</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//raw.githubusercontent.com/angular/bower-angular-i18n/master/angular-locale_pt-br.js"></script>
    <script src="//vitalets.github.io/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="content/app.js"></script>

    <link rel="stylesheet" href="content/style.css"/>
    <link rel="stylesheet" href="http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css"/>
</head>
<body>

    <div ng-controller="AppController">



        <a href="javascript:void(0);" editable-text="taskName" buttons="no">{{ taskName }}</a>


        <!-- a href="javascript:void(0);" ng-show="!showMe" ng-click="editName()">{{ taskName }}</a>
        <input type="text" ng-model="taskName" ng-show="showMe" ng-blur="saveName()"/-->


        <br/><br/>
        <time datetime="2017-04-04T11:55Z">{{ "2017-12-04T11:55Z" | date:'mediumDate' }}</time>
    </div>

</body>
</html>
