a:hover {
    cursor: pointer;
    background-color: rgba(192,192,192,0.2);
    border-bottom: solid rgba(0, 0, 255, 0.50) 1px;
    border-radius: 6px;
}

a {
    text-decoration: none;
}
a, input {
    font-size: 2em;
    padding: 6px 12px;
    margin: 20px 0;
}
input {
    width: 100%;
}
